
header{
    background-image:url(eval/img/banner.jpg);
    background-image: no-repeat;
    height: 968px;
}
.bar_nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 2%;
   
       
}
.bienvenue{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
    height:30%;
    margin-left:100px;
}
.bienvenue h1{
font-weight: bold;
}
.bienvenue h2{
    color: #a0cb23;
}
.benvenue h3{
    font-weight:bold;
}
.banner{
display: flex;
flex-direction: row;
justify-content:space-around;
background-color: #a0cb23;
}
.bouton1{
    width: 200px;
    height: 50px;
    padding-left: 30px;
}
/*.bouton1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
    height: 30px;
    border-style: none;
    background-color: #a0cb23;
    padding-top: 10px;
    
    }

.bouton2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 150px;
    height: 30px;
    border-style: none;
    background-color: #a0cb23;
    padding-top: 10px;
}